{{#each organizations as |organization|}}
  {{#link-to 'organizations.organization' organization.login tagName='li'}}
    {{#if hasBlock}}
      {{yield organization true}}
    {{else}}
      {{organization.login}}
    {{/if}}

    <span class="star {{if organization.isStarred 'starred'}}" {{action on-select-organization organization bubbles=false}}>*</span>
  {{/link-to}}
{{else}}
  <li>
    {{#if hasBlock}}
      {{yield to='inverse'}}
    {{else}}
      <li>No items</li>
    {{/if}}
  </li>
{{/each}}
